<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>true</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>UPSTREAM_BUILD</name>
          <description>The upstream project which should be used by this test build</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>C-HEAD-sdk.feature</string>
              <string>N-HEAD-sdk.feature</string>
              <string>R-HEAD-sdk.feature</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TEST_DEBUG_RUN</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>-Xrunjdwp:transport=dt_socket,address=${TEST_DEBUG_PORT},server=y,suspend=n -Xdebug</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.0.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>file:///opt/hudson/git/org.eclipse.ecf.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>org.eclipse.ecf</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <quietPeriod>5</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4.1">
      <projectName>Template-Build</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4.1">
      <projectName>Template-Test</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>site.p2/, reports/</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Fingerprinter>
      <targets>site.p2/, reports/</targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.templateproject.ProxyPublisher plugin="template-project@1.4.1">
      <projectName>Template-Test</projectName>
    </hudson.plugins.templateproject.ProxyPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.20">
      <deleteDirs>false</deleteDirs>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.13">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>120</timeoutMinutes>
      </strategy>
      <operationList class="java.util.Arrays$ArrayList">
        <a class="hudson.plugins.build_timeout.BuildTimeOutOperation-array">
          <hudson.plugins.build__timeout.operations.AbortOperation/>
        </a>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <org.jvnet.hudson.plugins.port__allocator.PortAllocator plugin="port-allocator@1.8">
      <ports>
        <org.jvnet.hudson.plugins.port__allocator.DefaultPortType>
          <name>NET_SLP_PORT TEST_DEBUG_PORT TEST_SLP_PORT TEST_MDNS_PORT</name>
        </org.jvnet.hudson.plugins.port__allocator.DefaultPortType>
      </ports>
    </org.jvnet.hudson.plugins.port__allocator.PortAllocator>
    <hudson.plugins.setenv.SetEnvBuildWrapper plugin="setenv@1.1">
      <localVarText>SITE_SIGNING=false
BUILD_ACTION=site.p2
SITE_INCLUDE_TOP=true
SITE_PACK200=true
FEATURE_NAME=org.eclipse.ecf.tests.feature
MSPEC_NAME=org.eclipse.ecf.tests.mspec
ECF_P2_REPOSITORY=http://download.ecf-project.org/repo/${UPSTREAM_BUILD}/lastSuccessful/archive/site.p2/

TEST_SLP_PORT=10427
TEST_MDNS_PORT=15353
UNUSED_INSTALLABLE_UNITS=
#INSTALLABLE_UNITS=org.eclipse.ecf.core.featurepatch.feature.group,org.eclipse.ecf.tests.feature.feature.group
INSTALLABLE_UNITS=org.eclipse.ecf.tests.feature.feature.group
TESTSUITE_CLASS_INCLUSION=^org\.eclipse\.ecf(\..+)?
TESTSUITE_CLASS_EXCLUSION=
TESTSUITE_PLUGIN_INCLUSION=^org\.eclipse\.ecf\.tests?
TESTSUITE_PLUGIN_EXCLUSION=</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
  </buildWrappers>
</project>