<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>tishan</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>81/lLj9Jl/PDe6mXcUuxfPJ86HaiaWaGfsi01soYQZbJYkR7Ol/CogNWb/nN1U40</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>tishan@tishan-Dell-System-Vostro-3450.(none)</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>