<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Continuous branch/gerrit change build of SLP feature for bug #421063&#xd;
https://bugs.eclipse.org/421063 and https://git.eclipse.org/r/#/c/18618/</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:jmohiuddin</permission>
      <permission>hudson.model.Item.Build:jmohiuddin</permission>
      <permission>hudson.model.Item.Workspace:jmohiuddin</permission>
      <permission>hudson.model.Item.Discover:jmohiuddin</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.21">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.templateproject.UpdateTransientProperty plugin="template-project@1.4.1"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>file:///opt/hudson/git/org.eclipse.ecf.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PathRestriction>
        <includedRegions></includedRegions>
        <excludedRegions>(?:(?!slp).)+</excludedRegions>
      </hudson.plugins.git.extensions.impl.PathRestriction>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>org.eclipse.ecf</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <quietPeriod>5</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@weekly</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec># every 15 minutes
*/15 * * * *
</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd org.eclipse.ecf/
git fetch git://git.eclipse.org/gitroot/ecf/org.eclipse.ecf refs/changes/18/18618/13 &amp;&amp; git cherry-pick FETCH_HEAD</command>
    </hudson.tasks.Shell>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4.1">
      <projectName>Template-BuildAndTest</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 3.6</installationName>
      <commands>junit --launch ${TEST_BUNDLE}/${LAUNCH_CONFIG_V6} -o &apos;${WORKSPACE}/junit_result_ipv6.xml&apos; --flatXML

</commands>
      <logLevel>debug</logLevel>
      <params>-Decf.p2.repository=${ECF_P2_REPOSITORY}
-Dsite.include.top=${SITE_INCLUDE_TOP}
-Dsite.signing=${SITE_SIGNING}
-Dsite.pack200=true
-Dstaging.area=/home/data/httpd/download-staging.priv/rt/ecf
-Dsigning.type=eclipse.remote
-Declipse.committer.name=mkuppe
-Declipse.committer.keyfile=/usr/share/tomcat5/.ssh/id_rsa
-Dqualifier.replacement.*=generator:buildTimestamp
-Dgenerator.buildTimestamp.format=&apos;v&apos;yyyyMMdd-HHmm
-DtargetPlatformPath=${WORKSPACE}/targetPlatformPath
-DprojectsPath=${WORKSPACE}/projects
-Dosgi.console.enable.builtin=true
</params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.tasks.Shell>
      <command># clear the site.p2/ folder because for this stream build we don&apos;t want to keep the artifacts as they might accidentally be picked up downstream consumers
rm -rf ${WORKSPACE}/site.p2/
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.templateproject.ProxyPublisher plugin="template-project@1.4.1">
      <projectName>Template-BuildAndTest</projectName>
    </hudson.plugins.templateproject.ProxyPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>15</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.setenv.SetEnvBuildWrapper plugin="setenv@1.1">
      <localVarText>FEATURE_NAME=org.eclipse.ecf.discovery.slp.feature
MSPEC_NAME=org.eclipse.ecf.slp.mspec
BUILD_ACTION=site.p2
SITE_INCLUDE_TOP=true
SITE_SIGNING=false
SITE_PACK200=true
ECF_P2_REPOSITORY=http://download.ecf-project.org/repo/
TEST_BUNDLE=org.eclipse.ecf.tests.provider.jslp
LAUNCH_CONFIG=org.eclipse.ecf.tests.provider.jslp.launch
LAUNCH_CONFIG_V6=org.eclipse.ecf.tests.provider.jslp.ipv6.launch</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
  </buildWrappers>
</project>