<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Continuous HEAD build of Wavefeature</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>true</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.10">
      <projectUrl>http://github.com/ECF/Wave/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.plugins.templateproject.UpdateTransientProperty plugin="template-project@1.4.2"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.10">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>git://github.com/ECF/Wave.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>org.eclipse.ecf</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <quietPeriod>5</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <authToken>hnfvoug243uzgoasdf8z6</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4.2">
      <projectName>Template-BuildAndTest</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
  </builders>
  <publishers>
    <hudson.plugins.templateproject.ProxyPublisher plugin="template-project@1.4.2">
      <projectName>Template-BuildAndTest</projectName>
    </hudson.plugins.templateproject.ProxyPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>30</timeoutMinutes>
      </strategy>
      <operationList class="java.util.Arrays$ArrayList">
        <a class="hudson.plugins.build_timeout.BuildTimeOutOperation-array">
          <hudson.plugins.build__timeout.operations.AbortOperation/>
        </a>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.setenv.SetEnvBuildWrapper plugin="setenv@1.2">
      <localVarText>FEATURE_NAME=org.eclipse.ecf.wave.feature
MSPEC_NAME=org.eclipse.ecf.wave.mspec
BUILD_ACTION=site.p2
SITE_INCLUDE_TOP=true
SITE_SIGNING=false
SITE_PACK200=true
ECF_P2_REPOSITORY=http://download.ecf-project.org/repo/
TEST_BUNDLE=org.eclipse.ecf.tests.provider.wave.google
LAUNCH_CONFIG=org.eclipse.ecf.tests.provider.wave.google.launch</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
  </buildWrappers>
</project>