<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Template project for a continuous build. Referenced by concrete builds.&#xd;
So far we can only include builders, but no actions!</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.21">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo -n &apos;purge old buckminster output&apos;
test -e buckminster.output &amp;&amp; rm -rf buckminster.output/
test -e buckminster.temp &amp;&amp; rm -rf buckminster.temp/
test -e site.p2 &amp;&amp; rm -rf site.p2/
test -e projects &amp;&amp; rm -rf projects/
test -e .metadata &amp;&amp; rm -rf .metadata/
test -e     targetPlatformPath &amp;&amp; rm -rf     targetPlatformPath/

test -e junit_result.xml &amp;&amp; rm junit_result.xml
test -e junit_result2.xml &amp;&amp; rm junit_result2.xml
test -e coverage_report.xml &amp;&amp; rm coverage_report.xml

echo -n &apos;cp all target, mspecs, rmap and cqueries to build root&apos;
find -L org.eclipse.ecf -type f -iname &apos;*.rmap&apos; | xargs -i cp {} .
find -L org.eclipse.ecf -type f -iname &apos;*.mspec&apos; | xargs -i cp {} .
find -L org.eclipse.ecf -type f -iname &apos;*.cquery&apos; | xargs -i cp {} .

echo -n &apos;create targetplatform and projects folder&apos;
test -e targetPlatformPath || mkdir -p targetPlatformPath/
test -e projects || mkdir projects/

echo -n &apos;Flatten Repository&apos;
find -L org.eclipse.ecf -type f -iname &apos;.project&apos; -printf %h\\n | xargs -i cp -rf {} projects/

echo -n &apos;HACK!!! rename features containing &quot;-&quot; to &quot;_&quot; so they can be found by Bucky&apos;
for f in projects/*-feature; do test -e $f &amp;&amp; mv $f `echo $f | tr &apos;-&apos; &apos;_&apos;`; done

echo -n &apos;HACK!!! align folder and feature ids&apos;
test -e projects/org.eclipse.ecf.sdk_feature &amp;&amp; mv projects/org.eclipse.ecf.sdk_feature projects/org.eclipse.ecf.sdk
test -e projects/org.eclipse.ecf.core_feature &amp;&amp; mv projects/org.eclipse.ecf.core_feature projects/org.eclipse.ecf.core

cd org.eclipse.ecf/
git config user.email &quot;bugs.eclipse.org@lemmster.de&quot;
git config user.name &quot;Markus Alexander Kuppe&quot;

echo -n &apos;Done, ready to fire off Bucky\n===================\n&apos;</command>
    </hudson.tasks.Shell>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 3.6</installationName>
      <commands>installJRE --location ${HUDSON_HOME}/tools/Java1.4.2_update_18_x86-64/jre
installJRE --location ${HUDSON_HOME}/tools/Java1.5_update_22_x86-64/jre
installJRE --location ${HUDSON_HOME}/tools/Java1.6_update_20_x86-64/jre
installJRE --location ${HUDSON_HOME}/tools/jdk1.8.0/jre
setpref org.eclipse.buckminster.pde.targetPlatformPath=${WORKSPACE}/targetPlatformPath
import ${WORKSPACE}/${MSPEC_NAME}
importtargetdefinition http://git.eclipse.org/c/ecf/org.eclipse.ecf.git/plain/releng/org.eclipse.ecf.releng.bm/ECF3-6Baseline.target
lstargets
addbaseline -A ECF3-6Baseline
build
perform ${FEATURE_NAME}#${BUILD_ACTION}
</commands>
      <logLevel>debug</logLevel>
      <params>-Decf.p2.repository=${ECF_P2_REPOSITORY}
-Dsite.include.top=${SITE_INCLUDE_TOP}
-Dsite.signing=${SITE_SIGNING}
-Dsite.pack200=${SITE_PACK200}
-Dpde.bundle.range.generation=false
-Dstaging.area=/home/data/httpd/download-staging.priv/rt/ecf
-Dsigning.type=eclipse.remote
-Declipse.committer.name=mkuppe
-Declipse.committer.keyfile=/var/lib/tomcat-6/.ssh/id_rsa
-Dqualifier.replacement.*=generator:buildTimestamp
-Dgenerator.buildTimestamp.format=&apos;v&apos;yyyyMMdd-HHmm
-DgenerateSourceReferences=true
-DtargetPlatformPath=${WORKSPACE}/targetPlatformPath
-DprojectsPath=${WORKSPACE}/projects
-Declipse.p2.mirrors=false
-Dsite.retain.unpacked=true

</params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.tasks.Shell>
      <command>test -e ${WORKSPACE}/buckminster.output/${FEATURE_NAME}_*-eclipse.feature/site.p2 &amp;&amp; mv ${WORKSPACE}/buckminster.output/${FEATURE_NAME}_*-eclipse.feature/site.p2 ${WORKSPACE}/
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>for i in $(find ${WORKSPACE} \( -type d -name &apos;javadoc&apos; \) -o \( -type f -name &apos;toc.htm*&apos; \) | sed -e &apos;s/toc\.^Cm.//&apos; | sort -u); do /opt/hudson/tools/hudson.model.JDK/Java1.7_update_25_x86-64/bin/java -jar /opt/hudson/tools/JavadocUpdaterTool-1_2_2013/JavadocUpdaterTool.jar -R $i; done</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd site.p2/

echo &apos;&lt;features xmlns=&quot;http://karaf.apache.org/xmlns/features/v1.2.0&quot; name=&quot;ECF RemoteServices SDK v3.8.0&quot;&gt;&apos; &gt; karaf-features.xml
echo &quot;&lt;feature name=\&quot;${JOB_NAME}\&quot; version=\&quot;3.8.0.${BUILD_ID}\&quot;&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;!-- This script is generated by https://build.ecf-project.org/jenkins/job/Template-Build --&gt;&quot; &gt;&gt; karaf-features.xml

echo &quot;&lt;!-- ECF needs the following equinox bundles to be present in order to run on Apache Felix --&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.equinox.supplement_1.4.100.v20120522-1813.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.osgi.services_3.3.100.v20120522-1822.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.equinox.log_1.2.300.v20120912-130548.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.equinox.common_3.6.100.v20120522-1841.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.equinox.registry_3.5.200.v20120522-1841.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.equinox.event_1.2.200.v20120522-2049.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.core.jobs_3.5.300.v20120912-155018.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
echo &quot;&lt;bundle&gt;http://download.eclipse.org/equinox/drops/R-3.8.2-201302041200/org.eclipse.equinox.concurrent_1.0.300.v20120912-130548.jar&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml

for f in plugins/*.jar; do
    echo &quot;&lt;bundle&gt;http://download.ecf-project.org/repo/${JOB_NAME}/builds/${BUILD_NUMBER}/archive/site.p2/$f``&lt;/bundle&gt;&quot; &gt;&gt; karaf-features.xml
done

echo &quot;&lt;/feature&gt;&lt;/features&gt;&quot; &gt;&gt; karaf-features.xml</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># https://bugs.eclipse.org/424251 
cd site.p2/

java -jar ${HUDSON_HOME}/tools/org.osgi.impl.bundle.repoindex.cli-0.0.5.jar plugins/*.jar</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>site.p2/</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>true</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.8">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.twitter.TwitterPublisher plugin="twitter@0.7"/>
  </publishers>
  <buildWrappers/>
</project>