<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.JDKAxis>
      <name>jdk</name>
      <values>
        <string>Java1.6_update_20_x86-64</string>
        <string>Java1.5_update_22_x86-64</string>
        <string>Java1.4.2_update_18_x86-64</string>
      </values>
    </hudson.matrix.JDKAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command># Installing tools...
# Don&apos;t forget to run vncpasswd
dir $HUDSON_HOME/tools</command>
    </hudson.tasks.Shell>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 3.6</installationName>
      <commands>listcommands</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.tasks.Shell>
      <command>${HUDSON_HOME}/tools/Buckminster_3.6/director/director -r ftp://ftp.osuosl.org/pub/eclipse/releases/helios/,ftp://ftp.osuosl.org/pub/eclipse/modeling/emft/b3/headless-3.6/ -d ${HUDSON_HOME}/tools/Buckminster_3.6/b3aggr -p b3 -i org.eclipse.b3.cli.product -i org.eclipse.b3.aggregator.engine.feature.feature.group -vmargs -Declipse.p2.mirrors=false
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>true</runSequentially>
  </executionStrategy>
</matrix-project>