<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>hstaudacher</fullName>
  <description></description>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wbeRMe:12fe490e709667e985b33b9f99daeb70241bd06639f19417bd3ff4b2c5bf7666</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>hstaudacher@eclipsesource.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>