<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Continuous HEAD build of discovery feature</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.21">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>file:///opt/hudson/git/org.eclipse.ecf.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.PathRestriction>
        <includedRegions></includedRegions>
        <excludedRegions>(?:(?!discovery.feature|provider.discovery|tests.discovery|bundles/org.eclipse.ecf.discovery).)+</excludedRegions>
      </hudson.plugins.git.extensions.impl.PathRestriction>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>org.eclipse.ecf</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <quietPeriod>5</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@weekly</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec># every 15 minutes
*/15 * * * *
</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4.2">
      <projectName>Template-BuildAndTest</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>C-HEAD-discovery.jmdns.feature, C-HEAD-discovery.slp.feature, C-HEAD-discovery.zookeeper.feature, C-HEAD-discovery.dnssd.feature</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.templateproject.ProxyPublisher plugin="template-project@1.4.2">
      <projectName>Template-BuildAndTest</projectName>
    </hudson.plugins.templateproject.ProxyPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>45</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.setenv.SetEnvBuildWrapper plugin="setenv@1.1">
      <localVarText>FEATURE_NAME=org.eclipse.ecf.discovery.feature
MSPEC_NAME=org.eclipse.ecf.discovery.mspec
BUILD_ACTION=site.p2
SITE_INCLUDE_TOP=true
SITE_SIGNING=false
SITE_PACK200=true
ECF_P2_REPOSITORY=http://download.ecf-project.org/repo/
TEST_BUNDLE=org.eclipse.ecf.tests.provider.discovery
LAUNCH_CONFIG=org.eclipse.ecf.tests.provider.discovery.launch</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
  </buildWrappers>
</project>