<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is the released build for Release_3_4.  Output is signed.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>true</keepDependencies>
  <properties>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.14">
      <activeProcessNames>
        <string>Promoted_to_download.eclipse.org</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
    <hudson.plugins.templateproject.UpdateTransientProperty plugin="template-project@1.4"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.0">
    <configVersion>1</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>ssh://mkuppe@git.eclipse.org/gitroot/ecf/org.eclipse.ecf.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>Release_3_4</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>org.eclipse.ecf</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
      <hudson.plugins.git.extensions.impl.LocalBranch/>
    </extensions>
  </scm>
  <quietPeriod>5</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java1.5_update_22_x86-64</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4">
      <projectName>Template-Build</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 3.6</installationName>
      <commands>perform -Djavadoc.output=${WORKSPACE}/javadoc/ -DprojectsPath=${WORKSPACE}/org.eclipse.ecf/framework/ -DtargetPlatformPath=${WORKSPACE}/targetPlatformPath org.eclipse.ecf#create.javadoc
</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.tasks.Shell>
      <command>ssh mkuppe@dev.eclipse.org &apos;rm -rf /home/data/httpd/download.eclipse.org/rt/ecf/3.4Test/site.p2&apos;
ssh mkuppe@dev.eclipse.org &apos;rm -rf /home/data/httpd/download.eclipse.org/rt/ecf/3.4Test/*.zip&apos;

scp -r site.p2/ mkuppe@dev.eclipse.org:/home/data/httpd/download.eclipse.org/rt/ecf/3.4Test
ssh mkuppe@dev.eclipse.org &apos;chmod -R g+w /home/data/httpd/download.eclipse.org/rt/ecf/3.4Test/site.p2&apos;

# Buckminster 3.6
test -e ${WORKSPACE}/buckminster.output/${FEATURE_NAME}_*-eclipse.feature/site.p2.zip/${FEATURE_NAME}_*.zip &amp;&amp; mv ${WORKSPACE}/buckminster.output/${FEATURE_NAME}_*-eclipse.feature/site.p2.zip/${FEATURE_NAME}_*.zip ${WORKSPACE}
# Buckminster 3.5
test -e ${WORKSPACE}/buckminster.output/${FEATURE_NAME}_*-eclipse.feature/${FEATURE_NAME}_*.zip &amp;&amp; mv ${WORKSPACE}/buckminster.output/${FEATURE_NAME}_*-eclipse.feature/${FEATURE_NAME}_*.zip ${WORKSPACE}

scp ${FEATURE_NAME}_*.zip mkuppe@dev.eclipse.org:/home/data/httpd/download.eclipse.org/rt/ecf/3.4Test
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.JavadocArchiver plugin="javadoc@1.1">
      <javadocDir>javadoc</javadocDir>
      <keepAll>false</keepAll>
    </hudson.tasks.JavadocArchiver>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>site.p2/</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <includeFailedBuilds>false</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.git.GitPublisher plugin="git@2.0">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <tagsToPush>
        <hudson.plugins.git.GitPublisher_-TagToPush>
          <targetRepoName>origin</targetRepoName>
          <tagName>R-Release_3_4-sdk_feature-${BUILD_NUMBER}_${BUILD_ID}</tagName>
          <createTag>true</createTag>
          <updateTag>false</updateTag>
        </hudson.plugins.git.GitPublisher_-TagToPush>
      </tagsToPush>
    </hudson.plugins.git.GitPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.6">
      <recipients>ecf-build@eclipse.org</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.twitter.TwitterPublisher plugin="twitter@0.7">
      <onlyOnFailureOrRecovery>false</onlyOnFailureOrRecovery>
      <includeUrl>true</includeUrl>
    </hudson.plugins.twitter.TwitterPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.22">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>UPSTREAM_BUILD=${JOB_NAME}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>L-Release_3_4-sdk.tests.feature</projects>
          <condition>UNSTABLE_OR_BETTER</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.setenv.SetEnvBuildWrapper plugin="setenv@1.1">
      <localVarText>SITE_SIGNING=true
BUILD_ACTION=site.p2.zip
SITE_INCLUDE_TOP=false
SITE_PACK200=true
FEATURE_NAME=org.eclipse.ecf.sdk
MSPEC_NAME=org.eclipse.ecf.sdk.mspec
ECF_P2_REPOSITORY=http://download.ecf-project.org/repo/
</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.12.2">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>90</timeoutMinutes>
      </strategy>
      <failBuild>false</failBuild>
      <writingDescription>false</writingDescription>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>