<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Markus Alexander Kuppe</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>L7CZIcKifJFdya4zs1/wHi7m2frJrbrii7v98g9FzBDJYkR7Ol/CogNWb/nN1U40</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>bugs.eclipse.org@lemmster.de</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>