<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is to build the Sip bundles. Continuous HEAD build of SIP feature</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.9.1">
      <projectUrl>http://github.com/ECF/Call/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.templateproject.UpdateTransientProperty plugin="template-project@1.4.2"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
        <url>git://github.com/ECF/Call.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <authToken>h02e890haskdug10</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo -n &apos;symlinking CVS folders into right place&apos;
test -e org.eclipse.ecf || mkdir org.eclipse.ecf
test -e org.eclipse.ecf/sip/features/ || ln -s ${WORKSPACE}/sip/features/ org.eclipse.ecf/features
test -e org.eclipse.ecf/sip/tests/ || ln -s ${WORKSPACE}/sip/tests/ org.eclipse.ecf/tests
test -e org.eclipse.ecf/sip/bundles/ || ln -s ${WORKSPACE}/sip/bundles/ org.eclipse.ecf/bundles
</command>
    </hudson.tasks.Shell>
    <hudson.plugins.templateproject.ProxyBuilder plugin="template-project@1.4.2">
      <projectName>Template-Build</projectName>
    </hudson.plugins.templateproject.ProxyBuilder>
  </builders>
  <publishers>
    <hudson.plugins.templateproject.ProxyPublisher plugin="template-project@1.4.2">
      <projectName>Template-Build</projectName>
    </hudson.plugins.templateproject.ProxyPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>harshana05@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>15</timeoutMinutes>
      </strategy>
      <operationList class="java.util.Arrays$ArrayList">
        <a class="hudson.plugins.build_timeout.BuildTimeOutOperation-array">
          <hudson.plugins.build__timeout.operations.AbortOperation/>
        </a>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.setenv.SetEnvBuildWrapper plugin="setenv@1.1">
      <localVarText>FEATURE_NAME=org.eclipse.ecf.provider.call.sip.feature
MSPEC_NAME=org.eclipse.ecf.call.sip.mspec
BUILD_ACTION=site.p2
SITE_INCLUDE_TOP=true
SITE_SIGNING=false
SITE_PACK200=true
ECF_P2_REPOSITORY=http://download.ecf-project.org/repo/
</localVarText>
    </hudson.plugins.setenv.SetEnvBuildWrapper>
  </buildWrappers>
</project>