<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Harshana Eranga Martin</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>erJARI:c1a13e69f8205b697aff1db8e7ebaad262f5ebf340ce7fac655592972bf95647</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.ApiTokenProperty>
      <apiToken>w4xJLNmr3ViqmQKvc2BnmGSYMEuJFsjM/8V5BoGuqMDJYkR7Ol/CogNWb/nN1U40</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>harshana05@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>